.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 32px;
  border: none;
  text-align: center;
}

button {
  height: 42px;
  width: 75%;
  margin: 24px;
  background-color: #356FFF;
  border: none;
  border-radius: 16px;
  font-family: 'Avenir';
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.short-url {
  display: flex;
  align-items: center;
}
