.App {
  height: 100vh;
}

.App, .Input, .Result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.results { 
  display: flex;
  align-items: center;
}

.desktop input {
  width: 20%;
  padding: 0 16px;
  font-size: 28px;
  border: none;
  text-align: center;
}

.desktop button {
  height: 50px;
  width: 20%;
  margin: 24px;
  background-color: #356FFF;
  border: none;
  border-radius: 16px;
  font-family: 'Avenir';
  font-size: 24px;
  color: white;
  font-weight: 500;
}

input {
  width: 80%;
  padding: 0 16px;
  font-size: 28px;
  border: none;
  text-align: center;
}

button {
  cursor: pointer;
}

.shorten-button {
  height: 50px;
  width: 60%;
  margin: 24px;
  background-color: #356FFF;
  border: none;
  border-radius: 16px;
  font-family: 'Avenir';
  font-size: 24px;
  color: white;
  font-weight: 500;
}

.response {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px;
}

.error {
  color: red;
}

.copy-icon {
  height: 24px;
  padding-left: 16px;
}
